body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-wrapper {
  max-width: 300px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.slide-viewer {
  display: flex;
  max-width: 100%;
}

.slide-item {
  max-width: 100%;
  flex-shrink: 0;
}
.slide-item img {
  max-width: 100%;
}
.slide-buttons {
  margin-top: 1.6rem;
  display: inline-flex;
}
.slide-buttons-item {
  cursor: pointer;
  width: 20px;
  margin: 0 1rem;
  border: 3px solid green;
}
